{:did        "did:web:etzhayyim.github.io:com-etzhayyim-umisachi"
 :handle     "umisachi.etzhayyim.com"
 :ipns-key   "umisachi-actor"
 :graph-type "com.etzhayyim.umisachi.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
